#container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
   
    
}
#courseCard{
    width: 20%;
    height: 80px;
    margin: 16px;
}


.btn{
    margin: 4px;
    border: none;
}
/* #deleteButton{
    margin-top: 0;
    margin-left: 0;
    background-color: red;
    width: 35px;
    height: 35px;
    margin: 10px;
} */