
#courseCard{
    width: 20%;
    height: 80px;
    background-color: lightblue;
    color: black;
    border: solid 2px white;
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /*
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row; */
}
#deleteButton{
    margin-top: 0;
    margin-left: 0;
    background-color: red;
    width: 35px;
    height: 35px;
}