.App{
  background-color: #E5E9F0;
  width: 100vw;
  height: fit-content;
  font-family: 'Assistant', sans-serif;
}

.btn{
  background-color: #17294A;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, #17294A 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover{
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, #17294A 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #17294A;
  font-weight: 600;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}
 ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #bdbdbd;
}
 ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(175, 175, 175);
}
