.navbar-main {
  background-color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-links-container {
  width: 60%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 100px;
}
.navbar-links-header{
  width: 100%;
  height: 60px;
}
.navbar-links {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 100px;
}

.navbar-links li {
  display: block;
  height: 100%;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  margin: 15px;
  padding: 0 15px;
}
.navbar-links li a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.navbar-links li a::after,
.navbar-links li a::before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
}

.navbar-links li a::after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.navbar-links li a::before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.navbar-links li a:hover::before,
.navbar-links li a:hover::after {
  width: 100%;
  height: 100%;
  border-color: #000;
}
.navbar-log-user {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  height: 50px;
  width: 250px;
}
.navbar-user {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 130px;
}

.navbar-user img {
  width: 45px;
  border-radius: 50px;
}
.navbar-user .btn {
  height: 20px;
}

.navbar-logo {
  width: 150px;
  height: fit-content;
}

.navbar-logo img {
  width: 100%;
  border-radius: 0px 0px 14px 14px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    height: 85px;
  }
  .navbar-links {
    width: 400px;
  }
  .navbar-logo img {
    width: 230px;
    height: 85px;
  }
  .navbar-links {
    display: none;
  }
}
