.navbar-main {
 background-color: white;
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}
.navbar-log-user{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  height: 50px;
  width: 250px;
  
}
.navbar-log-user .navbar-user{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 130px;
  height: 50px;
  /* border: 1px solid black; */
}
.navbar-user img{
  width: 45px;
   height: 45px;
  border-radius: 50px;
}
.navbar-user .btn{
  height: 20px;
}

.navbar-links {
  margin-top: 20px; 
  height: 50px;
  width: 500px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


.navbar-links li a{
  
    text-decoration: none;
    color: #162A4A;
    font-family: serif;
    font-weight: 400;
    font-size: 16px;
}
.navbar-links li a:hover{
  font-weight: 600;
}
.navbar-links li {
   
    height: fit-content;
    /* border-bottom: 1px  white solid; */
}
.navbar-logo{
  /* border: 1px solid black; */
    height: inherit;
}

.navbar-logo img{
  width: 150px;
    height: 65px;
    border-radius: 0px 0px 14px 14px;
}


@media only screen and (max-width: 768px){
  .navbar{
    height: 85px;
  }
  .navbar-links{
    width: 400px;
  }
  .navbar-logo img{
    width: 230px;
    height: 85px;
  }
  .navbar-links{
    display: none;
  }
}