.body-card-work{ 
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 4px -2px black;
    border-radius: 6px;
    background-color: white;
    width: 350px;
    height: 200px;
    margin: 20px;
    
    
}
.info-cardwork{
    width: 100%;
    height: 150px;
     /* border: 1px solid black; */
    padding: 6px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.info-cardwork h2{
    font-size: 25px;
    

}
.info-cardwork h4{
    font-size: 20px;
     
}
.info-cardwork p{
    font-size: 12px;

}
 .btn-card{
    /* border: 1px solid black; */
    width: 350px;
    
    
}
.body-homework-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}