.error-404-h1{
    font-size: 140px;
    align-items: center;
    text-align: center;
}

.error-404-h2{
    font-size: 15px;
    align-items: center;
    text-align: center;
}

.error-404-link{
    font-size: 25px;
    align-items: center;
    text-align: center;
    margin-right: 180px;
    margin-bottom:100px; ;
}
.error-404-link:hover{
    color: rgb(5, 8, 46);
    box-shadow: 0px -1px 26px 10px rgba(8,15,77,0.23);
    cursor: pointer;
}