
.Body{
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    border-radius: 0px 0px 10px 10px;
    width: 320px;
    height: fit-content;
    background-color: #17294A;
    position: absolute;
    margin-top: 50px;
    overflow: auto

    
}
.Body .title-event{
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 70px;
}
.Body .title-event .update{
    width: 180px;
    height: 70px;
    font-size: 22px;
    font-weight: 600;
   
    
}
.Body .title-event .bth-add button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; 
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #17294A;
    border: none;
    background-color: white;
    
}

.Body .body-update{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 height: 67vh;
}

.Body .body-update .form-event{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    
    
}
.Body .form-event .bth-send-event {
    display: flex;
    justify-content: center;
    
}
.Body .form-event .bth-send-event button{
    width: 70px;
    height: 30px;
    font-size: 15px;
    color: #17294A;
    border: none;
    border-radius: 6px;
    background-color: white;
    margin: 10px;


}
.Body .form-event #eventName{
    border-radius: 4px;
    border: none;
    font-size: 16px;
    width: 240px;
    height: 30px;
}

.Body .form-event #massage{
    border-radius: 4px;
    border: none;
    font-size: 14px;
    width: 240px;
    height: 60px;
}
.form-event1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(214, 214, 214);
    width: 250px;
    height: 150px;
    border-radius: 3px;
}
.form-event1 #confirmUpdates{
   
    border-radius: 4px;
    border: none;
    font-size: 16px;
    width:200px;
    height: 30px;
    
}
.form-event1 #eventName{
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    width:200px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

.form-event1 #massage{ padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    width: 200px;
    height: 60px;
    background-color: rgb(255, 255, 255);
}


.Body .send-new-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 200px;
    
    
}


.EventsNews{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 6px;
    width: 250px;
    height: 150px;
    margin: 8px;
    font-size: 14px;
    

    
    
}

.EventsNews .inputs-massage{
    display: flex;
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 4px 4px 20px -10px rgb(23,41,74);
    width: 220px;
    height: 80px;
    
}
.EventsNews .bth-e{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 220px;
    height: 50px;
    
}

.EventsNews .bth-e button{
    background-color: rgb(23,41,74);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    width: 50px;
    height: 30px;
}


.EventsNews input {
    background-color: rgb(23,41,74);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    width: 50px;
    height: 30px;
}