.BodyNew{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 20px -6px rgb(23,41,74);
    width: 90vw;
    height: 600px;
    margin: 50px auto;
    padding: 0px 130px;
}

.news-ticker-div{
    z-index: 0;
    width:60vw;
    height: 550px;
    margin: auto;
}
.news-ticker-div img{
    width: 300px;
}
.news-ticker-div a{
    cursor: pointer;
    color: #000;
}
.card-news{
    height: 500px;
    width: 60vw;
}