.BodyNew{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 20px -6px rgb(23,41,74);
    width: 95vw;
    height: 500px;
    margin: 50px;
    padding: 0px 130px;
}

.news-ticker-div{
    width: 50vw;
    height: 450px;
    margin: auto;
}
.news-ticker-div>img{
    height: 350px;
    width: 500px;
}

.card-news{
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 500px;
}