.BodyNew{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 20px -6px rgb(23,41,74);
    width: 95vw;
    height: 500px;
    margin: 50px;
    padding: 0px 130px;
}

.news-ticker-div{
    border: 1px solid black;
    width: 600px;
    height: 350px;
    
}
.news-ticker-div>img{
    height: 350px;
    width: 500px;
}