.edit-profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: #f4f4f4;
}
.edit-profile .btn{
    height: 40px;
    width: 60px;
}
.edit-profile-form{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.edit-profile-btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.edit-profile-form>input{
    color: #3c3c3c;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0);
}
.edit-profile-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height:600px;
    background-color: #f2f2f2;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 40px;
}
