.body-staff .staff-card{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
   
}


.s-card-body-form{
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-items: center;
    border: 1px solid black;
    width: 400px;
    height: 250px;
}
.info-profil{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    
    
}

.staff-card-img{
    width: 200px;
    height: 250px;
    border: 1px solid black;
    height: inherit;
    
}
.staff-card-img  img {
    border-radius: 8px;
    width: 200px;
    height: 250px;
    padding: 10px;
}

/* .staff-card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    border: 1px solid black;
    
} */
.staff-card-body>p{
    font-size: 18px;
}
.staff-card-body-btn{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
  
}

.staff-card-body-btn  .btn{
    margin: 0 5px;
}

.staff-card-body-form  input {
    font-size: 15px;
    border: none;
    border-radius: 25px;
    width: 60%;
    
}
.staff-card-body-form .btn{
    margin:5px;
    
}
