.create-course{
    width:30vw;
    margin-top: 10px;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    font-size: 18px;
}

.create-course-form{
    margin-top: 10px;
    padding: 15px;
    width:30vw;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4;
}
.create-course-form input{
    color: #3c3c3c;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0);
}
.create-course button{
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: rgb(49, 3, 255);
    color: white;
    font-size: 24px;
    padding: 5px;
    transition: all 0.3s;
    font-weight: 700;
    margin: 10px auto;
}
.create-course button:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(11, 0, 165);
    border: rgb(11, 0, 165) solid 4px;
}