.student-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
    position: absolute;
    z-index: 10;
    margin: 10px  40%;
    width: 400px;
    max-height: 820px;
    background-color: #f2f2f2;
    padding: 50px;
    bottom: -100px;
    overflow-y: auto;
}
.student-info ::-webkit-scrollbar {
  width: 10px;
}
.student-info ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #17294a;
}
.student-info ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(30, 24, 110, 0.2);
}

.grade-form{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    margin:15px;
}


.student-info .btn{
  margin: auto;
  width: 99%;
}
.grade-form .grade-icon i,span{
  font-size: 18px;
}
.edit-profile-btn-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.grade-form>input{
  color: #3c3c3c;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0);
}